/* styles.css */
.table-container {
    border: none !important;
  }
  
  .table-container th, 
  .table-container td {
    border-color: white !important;
  }
  
  .table-container th {
    border-bottom-color: white !important;
  }
  
  .table-container td {
    border-top-color: white !important;
  }
  