@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Merriweather', serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}


/* Estilo para el título */
.text-black {
    color: #000;
  }
  
  /* Asegurar que los tabs ocupen el ancho completo y sean responsivos */
  .tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
  }
  
  .tabs .tab {
    flex: 1;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
  }
  
  .tabs .tab.active {
    border-bottom: 2px solid #1d4ed8;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
  }
  