.container {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 600;
}

.info-container p {
    margin-bottom: 0.5rem;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-bottom: 1px solid #eaeaea;
}